USE [master]
GO
/****** Object:  Database [MediaBase]    Script Date: 9/6/2025 8:26:13 AM ******/
CREATE DATABASE [MediaBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MediaBase2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MediaBase2.mdf' , SIZE = 16384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 16384KB )
 LOG ON 
( NAME = N'MediaBase2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MediaBase2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 8192KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MediaBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MediaBase]
GO
/****** Object:  Table [dbo].[Buch]    Script Date: 9/6/2025 8:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buch](
	[ID] [int] NOT NULL,
	[ISBN10] [nchar](10) NULL,
	[ISBN13] [nchar](14) NULL,
	[Autor] [nvarchar](80) NULL,
	[Titel] [nvarchar](80) NULL,
	[Verlag] [nvarchar](80) NULL,
	[Seiten] [int] NULL,
	[Auflage] [tinyint] NULL,
	[Sprache] [nvarchar](20) NULL,
	[Hardcover] [bit] NULL,
	[Erscheinungsjahr] [int] NULL,
	[Bewertung] [tinyint] NULL,
	[Beschreibung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Buch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View-Buch-Bewertung]    Script Date: 9/6/2025 8:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View-Buch-Bewertung]
AS
SELECT ID, Autor, Titel, Erscheinungsjahr, Bewertung, Beschreibung
FROM   dbo.Buch
GO
/****** Object:  Table [dbo].[CD]    Script Date: 9/6/2025 8:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CD](
	[ID] [int] NOT NULL,
	[Titel] [nvarchar](80) NULL,
	[Interpret] [nvarchar](80) NULL,
	[Songs] [nvarchar](max) NULL,
	[AnzahlCDs] [tinyint] NULL,
	[Erscheinungsjahr] [int] NULL,
	[Bewertung] [tinyint] NULL,
 CONSTRAINT [PK_CD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVD]    Script Date: 9/6/2025 8:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVD](
	[ID] [int] NOT NULL,
	[Titel] [nvarchar](80) NULL,
	[Originaltitel] [nvarchar](80) NULL,
	[Schauspieler] [nvarchar](max) NULL,
	[Produzent] [nvarchar](80) NULL,
	[Regie] [nvarchar](80) NULL,
	[Land] [nvarchar](20) NULL,
	[Dauer] [int] NULL,
	[Laendercode] [tinyint] NULL,
	[Ton] [nvarchar](20) NULL,
	[Untertitel] [nvarchar](20) NULL,
	[Extras] [nvarchar](max) NULL,
	[AnzahlDVDs] [tinyint] NULL,
	[Erscheinungsjahr] [int] NULL,
	[Bewertung] [tinyint] NULL,
 CONSTRAINT [PK_DVD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 9/6/2025 8:26:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](5) NULL,
	[Bewertung] [nchar](3) NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[49] 4[17] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Buch"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 402
               Right = 703
            End
            DisplayFlags = 280
            TopColumn = 2
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View-Buch-Bewertung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View-Buch-Bewertung'
GO
USE [master]
GO
